<config>
	<test driver="ca.concordia.algos.FibonacciSequenceObserver" method="main" label="Check Fib Sequence">
		<args>12</args>

		<mark grade="10">
			<check label="sequence"><regex>1 1 1 1 1 4 7 13 22 43 79 148</regex></check>
		</mark>
		<mark grade="10">
			<check label="metadata"><regex>Calls: 285</regex></check>
		</mark>
	</test>
</config>
